<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}JVN-Network.fr - Là où la communauté prend les commandes{% endblock %}</title>
  {% block stylesheets %}
    {% stylesheets '@CoreBundle/Resources/public/css/*' filter='cssrewrite' %}
      <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
  {% endblock %}
  <script src="{{ asset('bundles/core/js/vendor/modernizr-2.8.3.min.js')}}"></script>
</head>
<body>
  <header>
  <!-- Navbar Utilisateur -->
  <div id="wrapper">
    <div id="topBar">
      <div class="container">
        <!-- Si l'utilisateur est authentifié, on affiche le menu correspondant à son compte -->
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <ul class="top-links list-inline pull-right">
            <li class="text-welcome hidden-xs">Bienvenue sur JVN, <strong>{{app.user.username}}</strong></li>
            <li>
              <a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="">Mon compte</a>
              <ul class="dropdown-menu pull-right">
                <li><a tabindex="-1" href="{{path('fos_user_profile_show')}}"></i>Mon profil</a></li>
                {% if is_granted('ROLE_TEAM')%}
                  <li><a tabindex="-1" href="{{path('team_admin')}}"></i>Back Office</a></li>
                {% elseif is_granted('ROLE_ADMIN')%}
                  <li><a tabindex="-1" href="#"></i>Administration</a></li>
                {% elseif is_granted('ROLE_KRMA')%}
                  <li><a tabindex="-1" href="#"></i>KRMA Blog</a></li>
                {% elseif is_granted('ROLE_AUTEUR')%}
                  <li><a tabindex="-1" href="#"></i>MEMBRE Blog</a></li>
                {% endif %}
                <li class="divider"></li>
                <!-- Les routes reliées à la boutique seront définies plus tard -->
                <li><a tabindex="-1" href="#">Mes commandes</a></li>
                <li><a tabindex="-1" href="#">Ma liste de souhait</a></li>
                <li><a tabindex="-1" href="#">Mes articles</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="{{path('fos_user_security_logout')}}">Se déconnecter</a></li>
              </ul>
            </li>
          </ul>
        {% else %}
        <!-- Sinon, on affiche un menu de connexion/inscription classique -->
          <ul class="top-links list-inline pull-right">
            <li>
              <a href="{{path('fos_user_registration_register')}}">S'inscrire</a>
            </li>
            <li>
              <a href="{{ path('fos_user_security_login') }}">Se connecter</a>
            </li>
          </ul>
        {% endif %}
        <ul class="top-links list-inline">
          <li class="hidden-xs"><a href="{{path('core_contact')}}">CONTACT</a></li>
          <li class="hidden-xs"><a href="{{path('core_mentions')}}">Mention légales</a></li>
        </ul>
      </div>
    </div>
  <nav class="navbar navbar-default">
  			<div class="container">
  				<div class="navbar-header">
  					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  						<span class="sr-only">Toggle navigation</span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  						<span class="icon-bar"></span>
  					</button>
  					<a class="navbar-brand page-scroll" href="{{path('core_home')}}">Accueil</a>
  				</div>
  				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  					<ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
  							<a data-toggle="dropdown" href="#">Blog<b class="caret"></b></a>
  							<ul class="dropdown-menu">
  								<li>
 									<a href="{{path('team_home')}}">L'Equipe</a>
  								</li>
  								<li>
  									<a href="{{path('krma_home')}}">Krma TV</a>
  								</li>
                  <li>
                    <a href="#">Les Membres</a>
                  </li>
							  </ul>
  						</li>
  						<li>
  							<a href="{{path('commu_home')}}">Communauté</a>
  						</li>
  						<li>
  							<a href="{{path('forums_home')}}">Forums</a>
  						</li>
  						<li>
  							<a href="{{path('boutique_home')}}">Boutique</a>
  						</li>
  					</ul>
  				</div>
  		</div>
    </nav>
  </div>
</header>
  <!-- On affiche les messages flash -->
  {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info text-center">Message flash : {{message}}</div>
  {% endfor %}

{% block body %}
{% endblock %}


{% block javascript %}
<script src="{{ asset('bundles/core/js/vendor/jquery-1.11.3.min.js')}}"></script>
<script src="{{ asset('bundles/core/js/bootstrap.js')}}"></script>
<script src="{{ asset('bundles/core/js/main.js')}}"></script>
{% endblock %}
</body>
</html>
