{% extends('::layout.html.twig')%}

{% block body %}
<div class="container">
  {% for message in app.session.flashbag.get('success') %}
    <div class="alert alert-success text-center">Message flash : {{message}}</div>
  {% endfor %}
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center">Back Office</h2>
      <hr />
      <p class="text-center">
        <strong><em>
          Toute modification effectuée ici est vérifiée avant validation sur le serveur, afin que la procédure se passe
        dans les meilleures conditions, merci de surveiller les messages d'erreurs/données entrées/modifications effectuées
        avant de valider toute manipulation.
        </em></strong>
        <br>
      </p>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#articles" data-toggle="tab">Articles</a></li>
            <li><a href="#comments" data-toggle="tab">Commentaires</a></li>
            <li><a href="#sujet" data-toggle="tab">Sujet</a></li>
            <li><a href="#user" data-toggle="tab">Utilisateur</a></li>
        </ul>
    </div>
  </div>
  <div class="tab-content">
      <div class="tab-pane fade in active adminTable" id="articles">
        <!-- On créer une boucle afin de savoir si des articles sont trouvés, si oui, on affiche le menu
        d'édition, sinon on affiche un message d'erreur -->
        {% if article is not null %}
          <div class="table-responsive">
              <table class="table table-hover table-condensed">
                <br>
                  <thead>
                      <tr>
                          <th>Titre</th>
                          <th>Contenu</th>
                          <th>Date de publication</th>
                          <th>Auteur</th>
                          <th>Catégorie</th>
                          <th>Modifié le</th>
                          <th>Outils</th>
                      </tr>
                  </thead>
                  {% for article in article %}
                  <!-- On affiche les articles en affichant le titre, le contenu (limité à 45 caractères),
                  la date de publication ainsi que son auteur -->
                  <tr>
                    <td>{{ article.titre }}</td>
                    <td>{{ article.contenu[:45]|raw }}</td>
                    <td>{{ article.datePublication | date('d/m/Y')}}</td>
                    <td>{{ article.auteur }}</td>
                    <td>{{ article.categorie }}</td>
                    <td>{{ article.updatedAt|date('d/m/Y')}}
                    <td>
                    <!-- On créer une condition se basant sur la catégorie de l'article, cette dernière définit
                    la route renvoyé -->
                      <a href="{{path('back_office_delete', {'id': article.id}) }}" class="btn btn-danger">
                        <i class="fa fa-exclamation-triangle">
                        </i>
                        Supprimer
                      </a>
                      {% if article.categorie == 'TEAM' %}
                      <a class="btn btn-primary" href="{{path('back_office_update', {'id': article.id}) }}">
                        <i class="fa fa-wrench"></i>
                        Modifier
                      </a>
                      {% elseif article.categorie == 'KRMA' %}
                      <a class="btn btn-primary" href="{{path('membre_update', {'id': article.id}) }}">
                        <i class="fa fa-wrench"></i>
                        Modifier
                      </a>
                      {% elseif article.categorie == 'MEMBRE' %}
                      <a class="btn btn-primary" href="{{path('krma_update', {'id': article.id}) }}">
                        <i class="fa fa-wrench"></i>
                        Modifier
                      </a>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
              </table>
          </div>
          <a href="{{path('back_office_add')}}">
            <button type="button" class="btn btn-success">
              <span class="glyphicon glyphicon-plus"></span> Ajouter un article
            </button>
          </a>
      </div>
      {% else %}
        <div class="alert alert-danger"><p>Articles introuvable</p></div>
      {% endif %}
      <div class="tab-pane fade adminTable" id="comments">
        <div class="table-responsive">
          {% if commentaire is not null %}
            <table class="table table-hover table-condensed">
              <br>
                <thead>
                    <tr>
                        <th>Utilisateur</th>
                        <th>Contenu</th>
                        <th>Date de création</th>
                        <th>Outils</th>
                    </tr>
                </thead>
                  {% for commentaire in commentaire %}
                  <tr>
                    <td>{{ commentaire.auteur }}</td>
                    <td>{{ commentaire.contenu[:20]|raw }}</td>
                    <td>{{ commentaire.dateCreation|date('d/m/Y') }}</td>
                    <td>
                      <a href="#" class="btn btn-danger">
                        <i class="fa fa-exclamation-triangle"></i>
                        Supprimer
                      </a>
                      <a href="#" class="btn btn-info">
                        <i class="fa fa-wrench"></i>
                        Modifier
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
             </table>
            {% endif %}
        </div>
      </div>
      <div class="tab-pane fade adminTable" id="sujet">
        <div class="table-responsive">
          {% if sujet is not null %}
            <table class="table table-hover table-condensed">
              <br>
                <thead>
                    <tr>
                        <th>Auteur</th>
                        <th>Titre</th>
                        <th>Contenu</th>
                        <th>Date Création</th>
                        <th>Forums</th>
                        <th>Outils</th>
                    </tr>
                </thead>
                  {% for sujet in sujet %}
                  <tr>
                    <td>{{ sujet.auteur }}</td>
                    <td>{{ sujet.auteur }}</td>
                    <td>{{ sujet.contenu[:20]|raw }}</td>
                    <td>{{ sujet.dateCreation|date('d/m/Y') }}</td>
                    <td>{{ sujet.category }}</td>
                    <td>
                      <a href="{{path('forums_delete', {'id': sujet.id})}}" class="btn btn-danger">
                        <i class="fa fa-exclamation-triangle"></i>
                        Supprimer</a>
                      <a href="{{path('forums_update', {'id': sujet.id})}}" class="btn btn-info">
                        <i class="fa fa-wrench"></i>
                        Modifier</a>
                    </td>
                  </tr>
                  {% endfor %}
             </table>
        </div>
      </div>
      {% else %}
        <p class="alert alert-danger">Aucun Sujet trouvé</p>
      {% endif %}
      <div class="tab-pane fade adminTable" id="user">
        <!-- On affichera les utilisateurs inscrits afin de pouvoir les manipuler -->
        <div class="table-responsive">
          {% if user is not null %}
            <table class="table table-hover table-condensed">
              <br>
                <thead>
                    <tr>
                        <th>Pseudo</th>
                        <th>Email</th>
                        <th>Date d'inscription</th>
                        <th>Role</th>
                        <th>Outils</th>
                        <th>Messagerie</th>
                    </tr>
                </thead>
                  {% for user in user %}
                  <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td></td>
                    <td></td>
                    <td>
                      <a href="#" class="btn btn-warning"><i class="fa fa-stop-circle"></i> Bloquer</a>
                      <a href="#" class="btn btn-info"><i class="fa fa-wrench"></i> Modifier</a>
                      <a href="#" class="btn btn-success"><i class="fa fa-users"></i> Changer rôle</a>
                      <a href="{{path('back_office_user_delete', {'id': user.id})}}" class="btn btn-danger">
                        <i class="fa fa-exclamation-triangle"></i>
                         Supprimer
                      </a>
                    </td>
                    <td><a href="#" class="btn btn-primary"><i class="fa fa-share"></i> Envoyer un mail</a></td>
                  </tr>
                  {% endfor %}
             </table>
            {% endif %}
        </div>
      </div>
    </div>
</div>
{% endblock %}
