{% extends ('::layout.html.twig')%}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <p class="text-center"><a href="{{path('forums_home')}}">Retour à l'index</a></p>
      <h2 class="text-center">Le forum Consoles</h2>
      <hr />
      <br>
      {% for sujet in consoles %}
        <h4 class="text-center"><a href="{{ path('forums_view', {'id': sujet.id }) }}">{{ sujet.titre }}</a> par {{ sujet.auteur }}</h4>
        <hr />
        <br>
      {% endfor %}
    </div>
  </div>
  {% if is_granted('IS_AUTHENTICATED_FULLY')%}
  <div class="row">
    <div class="col-lg-12 text-center">
      <a href="{{path('forums_consoles_add')}}" class="btn btn-danger">Créer un sujet</a>
    </div>
  </div>
  {% endif %}</div>
{% endblock %}
