{% extends ('::layout.html.twig')%}

{% block title %}{{ sujet.titre }}{% endblock %}

{% block body %}
    <div class="mdl-grid">
        <div class="mdl-cell--12-col-desktop">
            <div class="demo-back">
                <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="{{ path('forums') }}" title="go back" role="button">
                    <i class="material-icons" role="presentation">arrow_back</i>
                </a>
            </div>
            <div class="forums-blog__posts mdl-grid">
                <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__title_ mdl-color-text--grey">
                        <h3 class="mdl-typography--text-center">{{ sujet.titre }}</h3>
                    </div>
                    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
                        <div>
                            <strong>{{ sujet.auteur }}</strong>
                            <span>{{ sujet.dateCreation|date }}</span>
                        </div>
                        <div class="section-spacer"></div>
                        <div class="meta__favorites">
                            425 <i class="material-icons" role="presentation">favorite</i>
                            <span class="visuallyhidden">favorites</span>
                        </div>
                        <div>
                            <i class="material-icons" role="presentation">bookmark</i>
                            <span class="visuallyhidden">bookmark</span>
                        </div>
                        <div>
                            <i class="material-icons" role="presentation">share</i>
                            <span class="visuallyhidden">share</span>
                        </div>
                    </div>
                    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                        <p>
                            {{ sujet.contenu|raw }}
                        </p>
                    </div>
                    <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
                        <form>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                {{ form_start(form) }}
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                {{ form_label(form.contenu, "Commenter", {'label_attr': {'class': 'mdl-textfield__label'}}) }}
                                {{ form_errors(form.contenu) }}
                                {{ form_widget(form.contenu, {'attr': {'class': 'mdl-textfield__input'}}) }}
                            </div>
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">{{ form_widget(form.save) }}</span>
                            </button>
                            {{ form_end(form) }}
                        </form>
                                <div class="comment mdl-color-text--grey-700">
                                    <header class="comment__header">
                                        <img src="images/co1.jpg" class="comment__avatar">
                                        <div class="comment__author">
                                            <strong>James Splayd</strong>
                                            <span>2 days ago</span>
                                        </div>
                                    </header>
                                    <div class="comment__text">
                                        In in culpa nulla elit esse. Ex cillum enim aliquip sit sit ullamco ex eiusmod fugiat. Cupidatat ad minim officia mollit laborum magna dolor tempor cupidatat mollit. Est velit sit ad aliqua ullamco laborum excepteur dolore proident incididunt in labore elit.
                                    </div>
                                    <nav class="comment__actions">
                                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                            <i class="material-icons" role="presentation">thumb_up</i><span class="visuallyhidden">like comment</span>
                                        </button>
                                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                            <i class="material-icons" role="presentation">thumb_down</i><span class="visuallyhidden">dislike comment</span>
                                        </button>
                                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                            <i class="material-icons" role="presentation">share</i><span class="visuallyhidden">share comment</span>
                                        </button>
                                    </nav>
                                    <div class="comment__answers">
                                        <div class="comment">
                                            <header class="comment__header">
                                                <img src="images/co2.jpg" class="comment__avatar">
                                                <div class="comment__author">
                                                    <strong>John Dufry</strong>
                                                    <span>2 days ago</span>
                                                </div>
                                            </header>
                                            <div class="comment__text">
                                                Yep, agree!
                                            </div>
                                            <nav class="comment__actions">
                                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                                    <i class="material-icons" role="presentation">thumb_up</i><span class="visuallyhidden">like comment</span>
                                                </button>
                                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                                    <i class="material-icons" role="presentation">thumb_down</i><span class="visuallyhidden">dislike comment</span>
                                                </button>
                                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                                                    <i class="material-icons" role="presentation">share</i><span class="visuallyhidden">share comment</span>
                                                </button>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
            <div class="mdl-layout__obfuscator"></div>
        </div>
    </div>
{% endblock %}
