{% extends ('::layout.html.twig')%}
{% block title %}{{ sujet.titre }}{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <a href="{{path('forums')}}" class="btn btn-info">Retour à l'accueil</a>
      {% if is_granted('ROLE_MODERATEUR')%}
        <div class="row">
            <!-- Administration menu -->
          <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large red">
              <i class="material-icons">menu</i>
            </a>
            <ul>
              <li><a class="btn-floating red" href="{{ path('forums_delete', {'id': sujet.id }) }}"><i class="material-icons">delete</i></a></li>
              <li><a class="btn-floating yellow darken-1" href="{{ path('forums_update', {'id': sujet.id}) }}"><i class="material-icons">mode_edit</i></a></li>
              <li><a class="btn-floating orange"><i class="material-icons">lock</i></a></li>
            </ul>
          </div>
        </div>
        <hr />
      {% endif %}
      <h3 class="text-center">{{ sujet.titre }}</h3>
      <br>
      <h4 class="text-center">Par <strong>{{ sujet.auteur }}</strong>, le {{ sujet.dateCreation|date('d/m/Y') }}</h4>
      <hr />
      <p class="text-center">{{ sujet.contenu|raw }}</p>
      <br>
      <br>
    </div>
    <div class="row">
      <h4 class="text-center">Commentaires</h4>
      <hr />
      {% for msg in message %}
          {% if is_granted('ROLE_MODERATEUR')%}
              <ul class="collapsible popout" data-collapsible="accordion">
                  <li>
                      <div class="collapsible-header">{{ msg.auteur }}</div>
                      <div class="collapsible-body"><p>{{ msg.contenu|raw }}</p></div>
                  </li>
              </ul>
          {% else %}
              <ul class="collapsible popout" data-collapsible="accordion">
                  <li>
                      <div class="collapsible-header">{{ msg.auteur }}</div>
                      <div class="collapsible-body"><p>{{ msg.contenu|raw }}</p></div>
                  </li>
              </ul>
          {% endif %}
      {% endfor %}
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
        <div class="row">
            <div class="col s12">
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Commenter</a>
                <!-- Show modal -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                            {{ form_label(form.contenu) }}
                            {{ form_errors(form.contenu) }}
                            {{ form_widget(form.contenu) }}
                            {{ form_widget(form.save, {'attr': {'class': 'waves-effect waves-light btn'}})}}
                    </div>
                    <div class="modal-footer">
                        <a class="modal-close waves-effect waves-light btn">Annuler</a>
                    </div>
            </div>
        </div>
    {% endif %}
  </div>
</div>
{% endblock %}
