<!DOCTYPE html>
<html lang="en" amp="">
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}JVN-Network.fr - Là où la communauté prend les commandes{% endblock %}</title>
        <link rel="canonical" href="http://example.ampproject.org/article-metadata.html"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1,initial-scale=1">
        <script type="application/ld+json">
              {
                "@context": "http://schema.org",
                "@type": "NewsArticle",
                "headline": "Open-source framework for publishing content",
                "datePublished": "2015-10-07T12:02:41Z",
                "image": [
                  "logo.jpg"
                ]
              }

        </script>
        <style amp-boilerplate>body {
                -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
                -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
                -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
                animation: -amp-start 8s steps(1, end) 0s 1 normal both
            }

            @-webkit-keyframes -amp-start {
                from {
                    visibility: hidden
                }
                to {
                    visibility: visible
                }
            }

            @-moz-keyframes -amp-start {
                from {
                    visibility: hidden
                }
                to {
                    visibility: visible
                }
            }

            @-ms-keyframes -amp-start {
                from {
                    visibility: hidden
                }
                to {
                    visibility: visible
                }
            }

            @-o-keyframes -amp-start {
                from {
                    visibility: hidden
                }
                to {
                    visibility: visible
                }
            }

            @keyframes -amp-start {
                from {
                    visibility: hidden
                }
                to {
                    visibility: visible
                }
            }</style>
        <noscript>
            <style amp-boilerplate>body {
                    -webkit-animation: none;
                    -moz-animation: none;
                    -ms-animation: none;
                    animation: none
                }</style>
        </noscript>
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        {% block stylesheets %}
            <link href="{{ asset('dev/css/Bootstrap/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('prod/app/css/main.css') }}" rel="stylesheet">
            <link href="{{ asset('dev/css/normalize.css') }}" rel="stylesheet">
            <link href='//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
        {% endblock %}
        <script src="{{ asset('js/vendor/modernizr-2.8.3.min.js')}}"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>
        <header class="container-fluid">
            <nav>
                <ul>
                    <li>
                        <a href="{{ path('home') }}">
                            Accueuil
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('communaute') }}">
                            Communauté
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('forums') }}">
                            Forums
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('boutique') }}">
                            Boutique
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-info text-center">Message flash : {{ message }}</div>
        {% endfor %}
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer></footer>
    {% block javascripts %}
        <script src="{{ asset('dev/assets/jquery/dist/jquery.min.js')}}"></script>
        <script src="{{ asset('dev/assets/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/main.js')}}"></script>
        <script src="{{ asset('js/social/social.js')}}"></script>

        <!-- TinyMCE -->
        <script src="{{ asset('js/tinymce/tinymce.min.js')}}"></script>
        <script>tinymce.init({ selector:'textarea' })</script>

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-72251522-1', 'auto');
            ga('send', 'pageview');
        </script>
    {% endblock %}
    </body>
</html>

