{% extends ('CoreBundle::layout.html.twig')%}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      {% for message in app.session.flashbag.get('success_forums') %}
        <div class="alert alert-success">Message flash : {{ message }}</div>
      {% endfor %}
      <p class="text-center"><a href="{{path('forums_home')}}">Retour à l'index</a></p>
      <h2 class="text-center">Le forum General(iste)</h2>
      <hr />
      <br>
      {% for sujet in general %}
        <h4 class="text-center"><a href="{{ path('forums_view', {'id': sujet.id }) }}">{{ sujet.titre }}</a> par {{ sujet.auteur }}</h4>
        <hr />
        <br>
      {% endfor %}
    </div>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')%}
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="{{path('forums_general_add')}}" class="btn btn-danger">Créer un sujet</a>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
