{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
  <div class="row">
      <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3">
        <h2 class="center-align">S'inscrire</h2>
        <hr />
          <div class="input-field">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form-horizontal'}}) }}
          </div>
          <div class="input-field">
            {{ form_label(form.username, "Votre pseudo", {'label_attr': {'class': 'control-label'}}) }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
          </div>
          <div class="input-field">
            {{ form_label(form.email, "Votre adresse mail", {'label_attr': {'class': 'control-label'}}) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
          </div>
          <div class="input-field">
            {{ form_label(form.plainPassword, "Mot de passe", {'label_attr': {'class': 'control-label'}}) }}
            {{ form_errors(form.plainPassword) }}
            {{ form_widget(form.plainPassword) }}
          </div>
          <div class="input-field">
              {{ form_rest(form) }}
          </div>
              <div class="input-field">
                  <input class="btn btn-danger" type="submit" value="{{ 'registration.submit'|trans }}" />
              </div>
          {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
