{% extends('::layout.html.twig')%}

{% block title %} {{ article.titre }} {% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    {% for message in app.session.flashbag.get('success_article') %}
      <div class="alert alert-success">Message flash : {{message}}</div>
    {% endfor %}
      <a href="{{ path('home')}}" class="btn-floating btn-large waves-effect waves-light red">
        <i class="material-icons">home</i>
      </a>
    <h3 class="text-center">{{ article.titre }}</h3>
      {% if article.imageFile is not null %}
        <img src="{{ asset(article.imageFile) }}" alt="{{ article.imageName }}" class="responsive-img">
      {% endif %}
    <p class="center-align">Par <strong>{{ article.auteur }}</strong>, le {{ article.datePublication|date('d/m/Y')}}</p>
    <hr />
    <p>{{ article.contenu|raw }}</p>
    <br>
      <p><strong>Tags :</strong></p>
        <div class="chip">
          {{ article.categorie }}
        </div>
    <br>
    <br>
    <div
            class="fb-like"
            data-share="true"
            data-width="450"
            data-show-faces="true">
    </div>
    <br>
    <div class="row">
      <ul class="collapsible popout" data-collapsible="accordion">
        {% for commentaire in commentaire %}
          <li>
            <div class="collapsible-header">{{ commentaire.auteur }}</div>
            <div class="collapsible-body"><p>{{ commentaire.contenu|raw }}</p></div>
          </li>
        {% endfor %}
      </ul>
    </div>
      {% if is_granted('IS_AUTHENTICATED_FULLY') and article.online != false %}
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Commenter</a>
        <!-- Modal used for commentary -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {{ form_errors(form) }}
            <div class="form-group">
              {{ form_label(form.contenu, "Commenter", {'label_attr': {'class': 'control-label'}}) }}
              {{ form_errors(form.contenu) }}
              {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}})}}
            </div>
            {{ form_end(form) }}
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat red darken-4 white-text">Annuler</a>
          </div>
        {% else %}
        <p class="red-text center-align">
          <strong>
            Vous ne semblez pas connecté pour pouvoir commenter, il se peut aussi que cet article a été bloqué par son auteur ou par la modération, merci de vous connecter.
          </strong>
        </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
  {{ parent() }}
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '259849244404139',
        xfbml      : true,
        version    : 'v2.6'
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
{% endblock %}