{% extends ('::layout.html.twig')%}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <p class="text-center">
                <a href="{{path('krma')}}" class="waves-effect waves-light btn red darken-1">
                    Retour au blog
                </a>
            </p>
      {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-success">Message flash : {{message}}</div>
      {% endfor %}
      <div class="row">
        <br>
          <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
              <ul class="nav nav-tabs nav-justified">
                  <li class="active"><a href="#articles" data-toggle="tab">Articles</a></li>
                  <li><a href="#comments" data-toggle="tab">Commentaires</a></li>
              </ul>
          </div>
      </div>
  <div class="tab-content">
      <div class="tab-pane fade in active adminTable" id="articles">
        {% if article is not null %}
          <div class="table-responsive">
              <table class="table table-hover table-condensed">
                <br>
                  <thead>
                      <tr>
                          <th>Titre</th>
                          <th>Contenu</th>
                          <th>Date de publication</th>
                          <th>Auteur</th>
                          <th>Outils</th>
                      </tr>
                  </thead>
                  {% for article in article %}
                      <tr>
                        <td>{{ article.titre }}</td>
                        <td>{{ article.contenu[:45]|raw }}</td>
                        <td>{{ article.datePublication | date('d/m/Y')}}</td>
                        <td>{{ article.auteur }}</td>
                        <td>
                          <a href="{{ path('krma_delete', {'id': article.id }) }}" class="waves-effect waves-light btn red darken-1">
                            <i class="fa fa-exclamation-triangle"></i>
                             Supprimer
                           </a>
                          <a class="waves-effect waves-light btn brown lighten-2" href="{{ path('krma_update', {'id': article.id }) }}">
                            <i class="fa fa-wrench"></i>
                             Modifier
                           </a>
                        </td>
                      </tr>
                  {% endfor %}
              </table>
          </div>
              <button type="button" class="waves-effect waves-light btn green darken-2" data-toggle="modal" data-target="#myModal">
                  <span class="glyphicon glyphicon-plus"></span> Ajouter un article
              </button>

              <!-- Modal used for the article form -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel">Ajouter un article</h4>
                          </div>
                          <div class="modal-body">
                                  {{ form_start(form, {'attr': {'class': 'form-horinzontal'}}) }}
                                  {{ form_errors(form) }}
                                  <div class="input-field">
                                      {{ form_label(form.titre, "Titre de l'article", {'label_attr': {'class': 'col-sm-4'}}) }}

                                      {{form_errors(form.titre)}}

                                      {{form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                                  </div>
                                  <div class="form-group">
                                      {{ form_label(form.contenu, "Contenu de l'article", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

                                      {{ form_errors(form.contenu)}}

                                      {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
                                  </div>
                                  <div class="form-group">
                                      {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
                                  </div>
                                  <div class="form-group">
                                      {{form_widget(form.save, {'attr': {'class': 'btn waves-effect waves-light', 'type': 'submit'}}) }}
                                  </div>
                                  {{ form_end(form) }}
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                          </div>
                      </div>
                  </div>
              </div>
      </div>
      {% else %}
        <div class="alert alert-danger"><p>Articles introuvable</p></div>
      {% endif %}
      <div class="tab-pane fade adminTable" id="comments">
      </div>
  </div>
        </div>
    </div>
</div>
{% endblock %}
