{% extends('::layout.html.twig')%}

{% block body %}
<div class="container">
  <div class="row">
    <a href="{{ path('krma')}}">Retour à l'accueil</a>
    <h2 class="text-center">{{ article.titre }}</h2>
    <!-- Si l'article possède une image -->
    {% if article.imageFile is not null %}
      <img src="{{ asset(article.imageFile) }}" alt="{{ article.imageFile }}" class="img-responsive text-center">
    {% endif %}
    <!-- On affiche l'auteur, la date de publication de l'article -->
    <p class="text-center">Par <strong>{{ article.auteur }}</strong>, le {{ article.datePublication|date('d/m/Y')}}</p>
    <hr />
    <p class="text-center">{{ article.contenu|raw }}</p>
    <br>
    <br>
    <br>
    <!-- On sépare l'article des commentaires et on affiche les commentaires via une boucle for -->
    <div class="row">
      {% for commentaire in commentaire %}
        <div class="text-center">
          <h3>{{ commentaire.auteur }}</h3>
          <p class="text-center">{{ commentaire.contenu|raw }}</p>
        </div>
      {% endfor %}
    </div>
    <!-- On affiche le formulaire d'ajout de commentaire sous l'article -->
    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
    <div class="row well">
      {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
      {{ form_errors(form) }}
      <div class="form-group">
        {{ form_label(form.contenu, "Commenter", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(form.contenu) }}
        {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}})}}
      </div>
      {{ form_end(form) }}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
