{% extends('::layout.html.twig')%}

{% block body %}
<div class="container">
  <div class="row">
    <h2 class="text-center">{{ article.titre }}</h2>
    <!-- Si l'article possède une image -->
    {% if article.image is not null %}
      <img src="{{ image.url }}" alt="{{ image.alt }}">
    {% endif %}
    <p class="text-center">Par <strong>{{ article.auteur }}</strong>, le {{ article.datePublication|date('d/m/Y')}}</p>
    <hr />
    <p class="text-center">{{ article.contenu }}</p>
    <hr />
    <!-- On sépare l'article des commentaires et on affiche les commentaires -->
    <div class="row">
    </div>
  </div>
</div>
{% endblock %}
