{% extends('CoreBundle::layout.html.twig')%}

{% block body %}
<div class="container">
  <div class="row">
    <a href="{{ path('team_home')}}">Retour à l'accueil</a>
    <h2 class="text-center">{{ article.titre }}</h2>
    <!-- Si l'article possède une image -->
    {% if article.image is not null %}
      <img src="{{ image.url }}" alt="{{ image.alt }}">
    {% endif %}
    <!-- On affiche l'auteur, la date de publication de l'article -->
    <p class="text-center">Par <strong>{{ article.auteur }}</strong>, le {{ article.datePublication|date('d/m/Y')}}</p>
    <p class="text-center">Categorie : {{ article.categories }}</p>
    <hr />
    <p class="text-center">{{ article.contenu }}</p>
    <hr />
    <!-- On sépare l'article des commentaires et on affiche les commentaires via une boucle for -->
    <div class="row">
      {% for commentaire in article %}
        <div class="text-center">
          <h3>{{ commentaire.auteur }}, le {{ commentaire.date_creation }} :</h3>
          <p class="text-center">{{ commentaire.contenu }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
