{% extends ('::layout.html.twig')%}

{% block title %}Le forum généraliste{% endblock %}

{% block body %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-offset-desktop mdl-cell--8-col-desktop">
      {% for message in app.session.flashbag.get('success_forums') %}
        <div class="alert alert-success">Message flash : {{ message }}</div>
      {% endfor %}
      <p class="mdl-typography--text-center"><a href="{{path('forums')}}">Retour à l'index</a></p>
      <h2 class="mdl-typography--text-center">Le forum General(iste)</h2>
      <hr />
      <br>
      {% for sujet in general %}
          <div class="mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">{{ sujet.titre }}</h2>
              </div>
              <div class="mdl-card__supporting-text">
                  {{ sujet.contenu[:65]|raw }}
              </div>
              <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ path('forums_view', {'id': sujet.id}) }}">
                      Participer
                  </a>
              </div>
              <div class="mdl-card__menu">
                  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                      <i class="material-icons">share</i>
                  </button>
              </div>
          </div>
      {% endfor %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
              Créer un sujet
          </button>

          <!-- Modal used for the subject form -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Créer un sujet</h4>
                      </div>
                      <div class="modal-body">
                          {{ form_start(form, {'attr': {'class': 'form-horinzontal'}}) }}
                          {{ form_errors(form) }}
                          <div class="form-group">
                              {{ form_label(form.titre, "Titre du sujet", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                              {{form_errors(form.titre)}}
                              {{form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
                          </div>
                          <div class="form-group">
                              {{ form_label(form.contenu, "Contenu de l'article", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                              {{ form_errors(form.contenu)}}
                              {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
                          </div>
                          <div class="form-group">
                              {{form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
                          </div>
                          {{ form_end(form) }}
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  {% endif %}
</div>
{% endblock %}
