{% extends('CoreBundle::layout.html.twig')%}

{% block body %}
<div class="container">
  <div class="row">
    <a href="{{ path('team_home')}}">Retour à l'accueil</a>
    <h2 class="text-center">{{ article.titre }}</h2>
    <!-- Si l'article possède une image -->
    {% if article.image is not null %}
      <img src="{{ asset(article.image.webPath) }}" alt="{{ article.image.alt }}">
    {% endif %}
    <!-- On affiche l'auteur, la date de publication de l'article -->
    <p class="text-center">Par <strong>{{ article.auteur }}</strong>, le {{ article.datePublication|date('d/m/Y')}}</p>
    <hr />
    <p class="text-center">{{ article.contenu|raw }}</p>
    <br>
    <br>
    <br>
    <!-- On sépare l'article des commentaires et on affiche les commentaires via une boucle for -->
    <div class="row">
      {% for comm in commentaire %}
        <div class="text-center">
          <h3>{{ comm.auteur }}</h3>
          <p class="text-center">{{ comm.contenu|raw }}</p>
        </div>
      {% endfor %}
      <button class="button share_twitter" data-url="#" style="background-color:#55ACEE">
        Partager sur Twitter
      </button>
      <button class="button share_facebook" data-url="#" style="background-color:#55ACEE">
        Partager sur Facebook
      </button>
      <button class="button share_gplus" data-url="#" style="background-color:#55ACEE">
        Partager sur Google +
      </button>
      <button class="button share_linkedin" data-url="#" style="background-color:#55ACEE">
        Partager sur Linkedin
      </button>
    </div>
    <!-- On affiche le formulaire d'ajout de commentaire sous l'article -->
    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
    <p class="text-center">
      <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-danger">Commenter</a>
    </p>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="myModalLabel">Commenter</h4>
          </div>
          <div class="modal-body">
              {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
              {{ form_errors(form) }}
              <div class="form-group text-center">
                  {{ form_label(form.contenu, "Commenter", {'label_attr': {'class': 'control-label'}}) }}
                  {{ form_errors(form.contenu) }}
                  {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}})}}
              </div>
              {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}})}}
              {{ form_end(form) }}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
