{% extends('CoreBundle::layout.html.twig')%}

{% block body %}
<div class="container">
  <div class="row">
    <a href="{{ path('team_home')}}">Retour à l'accueil</a>
    <h2 class="text-center">{{ article.titre }}</h2>
    <!-- Si l'article possède une image -->
    {% if article.image is not null %}
      <img src="{{ asset(article.image.webPath) }}" alt="{{ advert.image.alt }}">
    {% endif %}
    <!-- On affiche l'auteur, la date de publication de l'article -->
    <p class="text-center">Par <strong>{{ article.auteur }}</strong>, le {{ article.datePublication|date('d/m/Y')}}</p>
    <hr />
    <p class="text-center">{{ article.contenu }}</p>
    <br>
    <br>
    <br>
    <!-- On sépare l'article des commentaires et on affiche les commentaires via une boucle for -->
    <div class="row">
      {% for commentaire in commentaire %}
        <div class="text-center">
          <h3>{{ commentaire.auteur }}, le {{ commentaire.date_creation }} :</h3>
          <p class="text-center">{{ commentaire.contenu }}</p>
        </div>
      {% endfor %}
    </div>
    <!-- On affiche le formulaire d'ajout de commentaire sous l'article -->
    <div class="row well">
      {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
      {{ form_errors(form) }}
      <div class="form-group">
        {{ form_label(form.auteur, "Auteur", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        {{ form_errors(form.auteur) }}
        {{ form_widget(form.auteur, {'attr': {'class': 'form-control'}}) }}
      </div>
      <div class="form-group">

      </div>
      <div class="form-group">

      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
