{% extends('::layout.html.twig')%}

{% block title %}Les forums{% endblock %}

{% block body %}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-offset-desktop mdl-cell--8-col-desktop">
      {% for message in app.session.flashbag.get('success_forums') %}
        <div class="alert alert-info mdl-typography--text-center">Message flash : {{message}}</div>
      {% endfor %}
      <h2 class="mdl-typography--text-center">Bienvenue sur les forums</h2>
      <hr />
      <p class="mdl-typography--text-center">Veuillez noter que ces forums sont modérés par les modérateurs désignés par l'équipe, tout problème,
        demande ou question concernant un sujet, un message ou une demande concernant ces forums doit être adressés aux modérateurs via MP/email,
        le temps de réponse dépendra en grande partie du sujet de la demande
        </p>
        <div id="fr_general">
          <hr />
          <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">Forum Généraliste</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Ici, tout ce dont vous auriez besoin est présent, une envie ? Une idée ? Quelque chose d'autre ?
              Discutons-en !
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ path('general') }}">
                Se lancer
              </a>
            </div>
            <div class="mdl-card__menu">
              <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">share</i>
              </button>
            </div>
          </div>
          <br>
          <br>
          <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">Forum Consoles</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Envie de discuter console de salon dernières générations ? Ou alors de nos
              consoles de jeunesse ? C'est ici !
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ path('forum_console') }}">
                Se lancer
              </a>
            </div>
            <div class="mdl-card__menu">
              <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">share</i>
              </button>
            </div>
          </div>
          <br>
          <br>
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Forum PC</h2>
              </div>
              <div class="mdl-card__supporting-text">
                Master Race ou pas, le PC fait partie du champ vidéoludique sans commune mesure,
                ici, on en parle comme d'un précieux car c'est aussi ça, aimer jouer
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ path('pc') }}">
                  Se lancer
                </a>
              </div>
              <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                  <i class="material-icons">share</i>
                </button>
              </div>
            </div>
          <hr />
          <br>
          <br>
          {% if is_granted('ROLE_MODERATEUR')%}
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Forum Administration</h2>
              </div>
              <div class="mdl-card__supporting-text">
                Discussions autour du site, des soucis et des demandes diverses, bref, tout
                ce qui touche à l'aspect administration
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ path('admin') }}">
                  Se lancer
                </a>
              </div>
              <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                  <i class="material-icons">share</i>
                </button>
              </div>
            </div>
            <hr />
          {% endif %}
        </div>
  </div>
</div>
{% endblock %}

