{% trans_default_domain 'FOSUserBundle' %}

  <div class="mdl-grid">
    <div class="mdl -cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
      <h2 class="mdl-typography--text-center">Mon Compte</h2>
      <hr />
        <div class="fos_user_user_show">
            <p class="mdl-typography--text-center">{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p class="mdl-typography--text-center">{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        </div>
        <h2 class="mdl-typography--text-center">Mes options</h2>
        <hr />
        <h3 class="mdl-typography--text-center">Modifier mon compte</h3>
        <hr />
        <a href="{{path('fos_user_profile_edit')}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Modifier mon compte</a>
        <h3 class="mdl-typography--text-center">M'abonner</h3>
        <hr />
        <a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Choisir un abonnement</a>
        <h3 class="mdl-typography--text-center">Ma messagerie</h3>
        <hr />
        <h2 class="mdl-typography--text-center">Mes publications</h2>
        <hr />
        <!-- Affichage des articles/Sujet publiés par l'auteur -->
    </div>
  </div>
