{% extends ('::layout.html.twig')%}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="text-center"><a href="{{ path('team_home') }}">Retour au blog</a></p>
      <p class="text-center"><a href="{{ path('team_admin')}}">Retour à l'espace d'administration</a></p>
      <!-- On affiche les messages flash -->
        {% for message in app.session.flashbag.get('success') %}
          <div class="alert alert-success">Message flash : {{message}}</div>
        {% endfor %}
        <div class="well">
          {{ form_start(form, {'attr': {'class': 'form-horinzontal'}}) }}
            {{ form_errors(form) }}
            <div class="form-group">
              {{ form_label(form.titre, "Titre de l'article", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

              {{form_errors(form.titre)}}

              {{form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
              {{ form_label(form.contenu, "Contenu de l'article", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}

              {{ form_errors(form.contenu)}}

              {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
              {{form_widget(form.save, {'attr': {'class': 'btn btn-danger'}}) }}
            </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
</div>
{% endblock %}
